@charset "utf-8";
*{
    margin: 0;
    padding:0;
    font-family: 'Noto Sans JP', sans-serif;
}
.max-width{
  max-width: 1300px;

}
main{
    max-width: 1500px;
    margin: 0 auto;
}

.header-3 {
    box-sizing: border-box;
    width: 100%;
  }
  
  .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1560px;
    height: 130px;
    padding: 0 0.8em;
    margin: 0 auto;
    font-size: 1.2em;
  }
  
  .header-nav {
    display: flex;
    align-items: center;
  }
  
  .header-nav-item {
    display: flex;
    align-items: center;
    margin-left: 16px;
  }
  
  .logo img {
    width: 70px;
  }
  .logo h1{
    width: 70px;
    font-size: 2rem;
    display: inline-block;
  }
  .logo h2{
    font-size: 0.5rem;
  }
  
  .header-button {
    box-sizing: border-box;
    display: inline-block;
    padding: 0.5em 1.2em;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
  }
  
  .header-login {
    color: #999;
  }
  
  .header-post {
    font-weight: bold;
    color: #fff;
    background: #4abdac;
    border: 1px #4abdac solid;
    border-radius: 3px;
  }
  

.top{
    height: 70vh;
    width: 100%;
}
.topleft{
    max-width: 580px;
    display: inline-block;
}
.topleft h1{
    font-size: 2.3rem;
    padding: 150px 0px 30px 0;
    color: #003853;
    width: 350px;
}
.topleft h2{
    font-size: 1rem;
    width: 250px;
    font-weight: 300;
}
.topright{
    width:500px;
    height: auto;
    display: inline-block;
}

.toppicture{
    margin: 60px 32px 16px 0; 
    filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
    
}

.button02 a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    margin-top: 32px;
    width: 300px;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    color: white;
    background-color: #f78733;
    border-radius: 50vh;
    text-decoration: none;
  }
  
  .button02 a::after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #333333;
    border-right: 3px solid #333333;
    transform: rotate(45deg);
  }
  
  .button02 a:hover {
    text-decoration: none;
    background-color: #bbbbbb;
  }

  .img_low{
    width: 100%;
    text-align: center;
  }
  .card{
    
    padding-top: 43px;
    width: 300px;
    display: inline-block;
    max-width: 400px;
    margin: 12px 32px;
  }
  .images img{
    width: 90%;

  }
  .contents{
    padding-top: 6px;
  }

  .contents .title{
    font-size: 1.9rem;
  }

  .contents .subtitle{
    font-size: 0.8rem;
  }
  section{
    padding-top: 100px;
    padding-bottom: 40px;
  }

  section p{
    text-align: center;
    padding-top: 10px;
  }
  

  section h3{
    text-align: center;
    width: 100%;
    font-size: 2.5rem;
  }
  .verticalText{
    margin: 0 0 64 auto;
    writing-mode: vertical-rl;
    font-family: 'Noto Serif JP', serif;
    height: 300px;
    text-align: left;
    font-size: 2rem;
  }

  .stepbar {
    margin: 0 auto;
    width: 80%;
    
  }
  
  .stepbar .stepbarwrap {
    margin: 2em 0;
    position: relative;
  }
  
  .stepbar .stepbarwrap .steptitle {
    display: inline-flex;
    align-items: center;
  }
  
  .stepbar .stepbarwrap .steptitle .stepcircle {
    display: inline-block;
    width: 3em;
    height: 3em;
    content: "";
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    text-align: center;
  }
  
  .stepbar .stepbarwrap .steptitle .stepcircle span {
    display: inline-block;
    line-height: 1.2em;
    font-size: 0.8em;
    font-weight: bold;
    position: relative;
    top: 0.9em;
  }
  
  .stepbar .stepbarwrap .steptitle .title {
    margin: 0.5em;
    font-weight: bold;
    font-size: 1.2em;
  }
  
  .stepbar .stepbarwrap .steptxt {
    padding-left: 3.5em;
    display: flex;
    align-items:flex-start;
    margin: 12px 0;
    color: rgb(132, 132, 132);
  }
  
  .stepbar .stepbarwrap .steptxt .txt {
    font-size: 0.9em;
    padding: 0 32px;
    max-width: 320px;
    letter-spacing: 0.15em;
    line-height: 1.5em;
  }
  .steptxt img{
    width: 30%;
    height: 200px;
  object-fit: cover;
  border-radius: 10%;
  
  }
  
  .stepbar .stepbarwrap .stepline {
    width: 1px;
    height: calc(100% + 1em);
    background-color: #000;
    position: absolute;
    top: 1em;
    left: 1.5em;
    z-index: -1;
  }
  
  .stepbarwrap:last-of-type .stepline:last-of-type {
    display: none;
  }


  .points{
    padding-top: 100px;
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
  }
  
  .points .cards{
    text-align: left;
    border-radius: 30px;
    margin: 16px;
    height: 300px;
    width: 330px;
    display: inline-block;
    vertical-align: top;

    background-color: #ffece6;
    background-image:
	 repeating-linear-gradient(-45deg,#fff, #fff 7px,transparent 0, transparent 14px);


    transition: all 0.5s 0s ease;
    -webkit-transition: 0.3s;
    -moz-transition: 3;
  }


  .point .number{
    position: relative;
    font-size: 2rem;
    text-align: center;
    top: -16px;
    left:10px;
    color: #fff;
    text-shadow:1px 1px 0 #4abdac, -1px -1px 0 #4abdac,
              -1px 1px 0 #4abdac, 1px -1px 0 #4abdac,
              0px 1px 0 #4abdac,  0-1px 0 #4abdac,
              -1px 0 0 #4abdac, 1px 0 0 #4abdac;
    font-weight: bold;
    border-radius: 100px;
    background-color: #4abdac;
    width: 50px;
  }
  .point .title{
    margin-top: 16px;
    margin-left: 16px;
    font-size: 1.7rem;
    font-family: 'Dela Gothic One', cursive;
  }
  .point .detail{
    margin-top: 28px;
    margin-left: 16px;
    width: 200px;
    font-size: 1.1rem;
    line-height: 30px;
  }
  .owner{
    padding-top: 60px;

    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: center;
  }
  .owner img{
    width: 300px;
    margin: 0 auto;
    text-align: center;

  }
  .hukidashi{
    border: #003853 solid;
    margin: 0 auto;
    border-radius: 30px;
    min-width: 700px;
    text-align: center;
    
  }
  .hukidashi h2{
    padding-top: 16px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Kiwi Maru', serif;
    font-size: 2rem;
  }
  .hukidashi p{
    padding-top: 12px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 32px;
    text-align:left;
    font-size: 1.2rem;
  }
  .hukidashi a{ 
    text-decoration: none;
  }
  a.btn--orange {
    color: #fff;
    background-color: #eb6100;
    border-bottom: 5px solid #b84c00;
    padding: 12px;
    border-radius: 100px;
  }
  a.btn--orange:hover {
    margin-top: 3px;
    
    color: #fff;
    background: #f56500;
    border-bottom: 2px solid #b84c00;
  }
  a.btn--shadow {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  }
  section h3 span{
    color: #fc4a1a;
  }
  @media screen and (max-width: 480px) {
    .header-post {
      display: none;
    }
    section h3{
      text-align: center;
      width: 100%;
      font-size: 1.8rem;
    }
    .hukidashi{
      border: #003853 solid;
      margin: 0 auto;
      border-radius: 30px;
      min-width: 0px;
    }
    .owner{
      flex-direction: column    ;
    }
    section p{
      padding: 12px 44px;
      text-align: center;
      font-size: 0.8rem;
    }
    .verticalText{
      margin: 32px 32px 0 auto;
      writing-mode: vertical-rl;
      font-family: 'Noto Serif JP', serif;
      height: 300px;
      text-align: left;
      font-size: 2rem;
    }

    .stepbar .stepbarwrap .steptxt {
      flex-direction: column;
    }
    .stepbar .stepbarwrap .steptxt .txt{
      padding-top: 12px;
      
    }
    .steptxt img{
      width: 75%;
    
    }
  }@media screen and (max-width: 960px) {
    .stepbar {
      width: 90%;
    }
  }






  /* 降ったー */
  #footer {
    position: relative;
    margin-top: 40px;
    color: #fff;
  }
  #footer a {
    text-decoration: none;
    color: #fff;
  }
  #footer a:hover {
    text-decoration: underline;
  }
  #footer .primary {
    padding: 40px 20px;
    background: #333;
  }
  #footer .secondary {
    display: flex;
    padding: 40px 20px;
    background: #222;
  }
  
  @media screen and (max-width: 767px) {
    #footer .primary {
      padding: 20px 20px;
      background: #333;
    }
    #footer .secondary {
      display: block;
      padding: 20px 20px;
    }
  }
  
  /* footer-logo */
  
  #footer .logo {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 26px;
    font-weight: bold;
  }
  @media screen and (max-width: 767px) {
    #footer .logo {
      font-size: 16px;
    }
  }
  
  /* address */
  
  .address {
    margin: 10px 0 0;
    padding: 0;
  }
  
  @media screen and (max-width: 767px) {
    .address {
      font-size: 12px;
    }
  }
  
  /* navi */
  
  .navi-row {
    display: flex;
    margin-top: 40px;
  }
  #footer .navi {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  #footer .navi li {
    display: inline-block;
    margin: 0 20px 0 0;
    padding: 0;
  }
  #footer .navi li:first-child {
    margin-left: 0;
  }
  
  @media screen and (max-width: 767px) {
    .navi-row {
      display: block;
      margin-top: 15px;
    }
    #footer .navi {
      font-size: 12px;
    }
    #footer .navi li {
      margin-top: 5px;
      font-size: 12px;
    }
  }
  
  /* sns-navi */
  
  #footer .sns-navi {
    margin: 0 0 0 auto;
    padding: 0;
  }
  #footer .sns-navi li {
    display: inline-block;
    margin: 0 20px 0 0;
    padding: 0;
    font-size: 20px;
  }
  #footer .sns-navi li:last-child {
    margin-right: 0;
  }
  
  @media screen and (max-width: 767px) {
    #footer .sns-navi {
      margin: 20px 0 0;
      padding: 0;
    }
    #footer .sns-navi li {
      margin: 0 20px 0 0;
      padding: 0;
      font-size: 18px;
    }
  }
  
  /* sitenavi */
  
  #footer .sitenavi {
    width: 50%;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  #footer .sitenavi li {
    display: inline-block;
    margin: 0 0 0 20px;
    padding: 0;
  }
  #footer .sitenavi li:first-child {
    margin-left: 0;
  }
  
  @media screen and (max-width: 767px) {
    #footer .sitenavi {
      width: 100%;
      text-align: center;
      font-size: 12px;
    }
  }
  
  /* copyright */
  
  #footer .copyright {
    width: 50%;
    margin: 0;
    padding: 0;
    text-align: right;
  }
  @media screen and (max-width: 767px) {
    #footer .copyright {
      width: 100%;
      margin: 20px 0 0;
      text-align: center;
      font-size: 12px;
    }
  }
  